<%- include("../partials/header.ejs")%>
<div class="form-signin w-100 m-auto py-5">
  <form class="w-25 mx-auto" method="post">
    <h1 class="h3 mb-3 fw-normal">Please log in</h1>
    
    <div class="form-floating">
      <input type="text" class="form-control" id="username" name="username" placeholder="username">
      <label for="username">username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <label for="password">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Login</button>
  </form>
</div>
<%- include("../partials/footer.ejs")%>