<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News Now</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="/news" class="nav-link px-2 text-white">Public News</a></li>
          <li><a href="/restrict/news" class="nav-link px-2 text-white">Private News</a></li>
        </ul>
        <% if( !locals.user ) { %>
          <div class="text-end">
            <a href="/login" class="btn btn-outline-light me-2">Login</a>
          </div>
        <% } %>

        <% if(locals.user && locals.user.roles.indexOf('admin') >= 0 ) { %>
          <div class="text-end mx-5">
            <a href="/admin" class="btn btn-outline-light">Painel Administrativo</a>
          </div>
        <% } %>

        <% if( locals.user ) { %>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= locals.user.username %>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item blocked" href="#">Perfil</a></li>
              <li><a class="dropdown-item hidden" href="#">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </div>
        <% } %>
      </div>
    </div>
  </header>
  <main class="container">