<%- include("./partials/header.ejs")%>
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://img.freepik.com/vetores-gratis/ultimas-noticias-rotulos-conjunto-de-icones-plana_74855-5880.jpg?w=996&t=st=1674780779~exp=1674781379~hmac=d3fdb1654dd7b2a2a3e2317579f3dee6e841625fa6973c6bb5b08ce6c25e585d" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Here you can find the best news</h1>
        <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis molestiae velit obcaecati minus tempore reiciendis magni esse earum molestias mollitia! Quo illo vero quod, labore amet dolorum magni voluptatem assumenda? Odit facere doloremque architecto beatae illum consequuntur</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/news" class="btn btn-primary btn-lg px-4 me-md-2">Public News</a>
        </div>
      </div>
    </div>
  </div>
<%- include("./partials/footer.ejs")%>